* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --primary-color: #ff8a00;
    --secondary-color: #e52e71;
}

body {
    background-color: #000;
}

.clock {
    box-sizing: content-box;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 640px;
    height: 640px;
    transform: translate(-50%, -50%) scale(1.25);
}

.clock:hover {
    box-shadow: 0 0 1px rgba(255, 0, 0, 1);
}

.clock__wrapper {
    display: flex;
    align-self: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.clock__title {
    font-size: 72px;
    color: white;
    text-shadow: 0 0 5px var(--primary-color),
    0 0 10px var(--primary-color),
    0 0 15px var(--primary-color),
    0 0 20px var(--secondary-color),
    0 0 30px var(--secondary-color),
    0 0 40px var(--secondary-color),
    0 0 55px var(--secondary-color),
    0 0 75px var(--secondary-color);
}

.clock__main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.clock__main--analog {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.clock__main--digital {
    display: block;
    position: absolute;
    width: 580px;
    height: 300px;
    border-radius: unset;
    background-color: transparent;
}

.clock__main--isDisabled {
    display: none;
}

.clock__center {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));
    z-index: 2;
}

.clock__hand-hours {
    position: absolute;
    width: 6px;
    height: 90px;
    bottom: 50%;
    left: 50%;
    border-radius: 20px 20px;
    background-color: var(--primary-color);
    transform-origin: bottom;
    z-index: 1;
}

.clock__hand-minutes {
    position: absolute;
    width: 4px;
    height: 120px;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    border-radius: 20px 20px;
    background-color: var(--secondary-color);
    z-index: 0;
}

.clock__number {
    position: absolute;
    font-size: 30px;
    font-weight: 700;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.clock__number:nth-child(4) {
    transform: rotate(30deg);
}

.clock__number:nth-child(5) {
    transform: rotate(60deg);
}

.clock__number:nth-child(6) {
    transform: rotate(90deg);
}

.clock__number:nth-child(7) {
    transform: rotate(120deg);
}

.clock__number:nth-child(8) {
    transform: rotate(150deg);
}

.clock__number:nth-child(9) {
    transform: rotate(180deg);
}

.clock__number:nth-child(10) {
    transform: rotate(210deg);
}

.clock__number:nth-child(11) {
    transform: rotate(240deg);
}

.clock__number:nth-child(12) {
    transform: rotate(270deg);
}

.clock__number:nth-child(13) {
    transform: rotate(300deg);
}

.clock__number:nth-child(14) {
    transform: rotate(330deg);
}


.clock__time {
    text-align: center;
    font-size: 72px;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 20px;
    position: relative;
    -webkit-box-reflect: below 10px linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.4));
}

.clock__seconds-circle {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 0;
    top: 0;
    transform: rotate(-90deg);
    transform-origin: center;
    z-index: 1000;
}

.clock__svg {
    overflow: visible;
}

.clock__svgCircle {
    fill: none;
    stroke-linecap: round;
    stroke-width: 4;
    stroke-dasharray: 942;
    stroke-dashoffset: 942;
    transition: .2s linear;
}

.clock__switch {
    align-self: center;
    font-size: 24px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    width: 200px;
    height: 100px;
    transition: 0.4s;
    border: 0;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.clock__switch:hover {
    box-shadow: 0 0 5px var(--primary-color),
    0 0 10px var(--primary-color),
    0 0 15px var(--primary-color),
    0 0 20px var(--secondary-color),
    0 0 30px var(--secondary-color),
    0 0 40px var(--secondary-color),
    0 0 55px var(--secondary-color),
    0 0 75px var(--secondary-color);
}
